---
export interface Props {
  title?: string;
}

const { title = 'krea.to (zsh)' } = Astro.props;
---

<div class="terminal-header">
    <div class="terminal-button close"></div>
    <div class="terminal-button minimize"></div>
    <div class="terminal-button maximize"></div>
    <div class="terminal-title">{title}</div>
</div>
